

/*Sky Cherry*/
/*
:root{
    --main-bg-color: #eeede7;
    --light-menu-color : #a1cbdd;
    --menu-titles-color : #5997ac;
    --light-huee-color : #f7aec2;
    --dark-huee-color : #af5166 ;
    --contrast-huee-color: #af5166 ;
    --text-color: #000;
    --text-color-buttons: #000;
    --text-color-outer-buttons: #000;
    --title-color: #fff;
}*/
/*Refreshing Tech*/
/*
:root{
    --main-bg-color: #f9f9f9;
    --light-menu-color : #e8e8e8;
    --menu-titles-color : #cfcece;
    --light-huee-color : #a1dcff;
    --dark-huee-color : #80b0cc ;
    --contrast-huee-color: #80b0cc ;
    --text-color: #000;
    --text-color-buttons: #000;
    --text-color-outer-buttons: #000;
    --title-color: #000;
}*/
/*City Pigeon*/
/*
:root{
    --main-bg-color: #424564;
    --light-menu-color : #e6f0fc;
    --menu-titles-color : #86a4ca;
    --light-huee-color : #5dddd0;
    --dark-huee-color : #874a97 ;
    --contrast-huee-color: #874a97 ;
    --text-color: #000;
    --text-color-buttons: #000;
    --text-color-outer-buttons: #fff;
    --title-color: #fff;
}*/
/*Rust Red*/
/*
:root{
    --main-bg-color: #080100;
    --light-menu-color : #e7551a;
    --menu-titles-color : #f9eefe;
    --light-huee-color : #c90000;
    --dark-huee-color : #600300 ;
    --contrast-huee-color: #c90000 ;
    --text-color: #000;
    --text-color-buttons: #fff;
    --text-color-outer-buttons: #fff;
    --title-color: #fff;
}*/
/*MAUVE*/
/*
:root{
    --main-bg-color: #F2D7EE;
    --light-menu-color : #D3BCC0;
    --menu-titles-color : #0E103D;
    --light-huee-color : #A5668B;
    --dark-huee-color : #69306D ;
    --contrast-huee-color: #69306D ;
    --text-color: #fff;
    --text-color-buttons: #000;
    --text-color-outer-buttons: #000;
    --title-color: #fff;
}*/
/*Original Grey&Red*/
/*
:root{
    --main-bg-color:#2B2D42;
    --light-menu-color :#8D99AE;
    --menu-titles-color :#EDF2F4;
    --light-huee-color :#EF233C;
    --dark-huee-color :#D90429 ;
    --contrast-huee-color:#AE1A2C ;
    --text-color:#000000;
    --text-color-outer-buttons:#fff;
    --title-color:#fff;
}*/


body {
    --main-bg-color:#424564;
    --light-menu-color :#e6f0fc;
    --menu-titles-color :#86a4ca;
    --light-huee-color :#5dddd0;
    --dark-huee-color :#874a97 ;
    --contrast-huee-color:#874a97 ;
    --text-color:#000;
    --text-color-buttons:#000;
    --text-color-outer-buttons: #fff;
    --title-color: #fff;
    overflow-y: hidden;
	padding: 0px;
	margin: 0px;
	background: var(--main-bg-color);
}

#graphHolder {
	width: 100%;
	height: 100%;
	position: absolute;
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}
#lightSwitch{
    position: absolute;
    bottom:3%;
    left: 3%;
    pointer-events: all;
    color:var(--text-color-buttons);
}

.top_and_bottom{
    font-family: Arial;
    font-size: 10pt;
    position: absolute;
    border: #000000;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background: var(--light-menu-color);
    padding: 10px;
    color: var(--text-color);

    opacity: 0.9;
    width: 40%;
    filter: alpha(opacity =   90); /* For IE8 and earlier */
    height: fit-content;
    width:fit-content;
    width: -moz-fit-content;
}
#menu{
    top: 2.5%;
    height:420px;
    left:1%;
}
#zone_bas{
    bottom: 15px;
    font-family: Arial;
    font-size: 10pt;
    position: absolute;
    border: #000000;
    left: 0%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    /*padding: 10px;*/
    opacity: 0.9;
    height: fit-content;

    max-width: 50%;
    filter: alpha(opacity =   90);
}

#informations_arret{
    left:0;
    bottom: 15px;
    position:relative;
    width:100%;
    margin-left:auto;
    margin-right: auto;

}
.sliderContainer{

    overflow:scroll;
    overflow-x: hidden;
    height: 87%;

}
.preds_succs {
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
    background: var(--menu-titles-color);
    font-size: 10pt;
    height: fit-content;
    padding: 5px;
}
.info_arret{
    border-radius: 10px;
    background: var(--menu-titles-color);
    font-size: 13pt;
    overflow-x: hidden;
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    text-decoration: none;

}

.arrNamesInList{
    font-size:14px;
    font-weight: bold;
    text-decoration: underline;
}

.sideMenus{
    font-family: Arial;
    font-size: 10pt;
    position: absolute;
    border: #000000;
    border-radius: 25px;
    background: var(--light-menu-color);
    padding: 10px;
    margin: 15px;
    color: var(--text-color);
    opacity: 0.9;
    height: 45%;
    width: 16%;
    filter: alpha(opacity =   90); /* For IE8 and earlier */
}
#preds {
    top:1%;
    right: 0%;

}
#succ {
    position:absolute;
    right: 0%;
    bottom:2%;
}


::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--light-huee-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dark-huee-color);
}

.nbRenvois {
    padding: 5px;
    border-radius: 8px;
    background: var(--menu-titles-color);
}
.information_title {
    margin-top: 5px;
    background: var(--menu-titles-color);
    font-size: 13pt;
    overflow-x: hidden;
}
#titre_pred {
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}
#titre_succ {
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

.title {
	text-align: center;
    background: var(--contrast-huee-color);
	color: var(--title-color);
    padding: 3px;
	font-size: 20px;
    border-radius: 20px/50px;
	font-family: Lucida Sans Unicode, serif;
	text-decoration: none;
	vertical-align: middle;
}

.categRenvoi{
    font-weight: bold;
    text-decoration: underline;
}


.showButton {
    text-align: center;
    position:relative;
    font-family: Lucida Sans Unicode, serif;
    text-decoration: none;
    font-size: 1em;
    color: var(--text-color-buttons);
    border: 2px solid var(--light-huee-color);
    border-radius: 20px/50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.showButton:hover {
    background: var(--light-huee-color);
}
.showButton:active {
    border-color: var(--dark-huee-color);
    background: var(--dark-huee-color);
}
#anneeVal{
    position:relative;
    left:30%;
    cursor: default;
    background: var(--light-huee-color);
}
#refreshData{
    position:absolute;
    bottom:3%;
    right: 3%;
}
#showTopMenu{
    position:absolute;
    top:55px;
    left:10px;
}
#nom_arret{
    position: relative;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5px;
    width:fit-content;
    width:-moz-fit-content;
    color: var(--text-color-outer-buttons);;
    font-size: 20px;
    font-family: Lucida Sans Unicode, serif;
    text-decoration: none;
    vertical-align: middle;
    z-index: -30;
}
#showTop{
    position: absolute;
    top:2px;
    left:47%;
    margin-top: 1px;
    width:fit-content;
    color:var(--text-color-outer-buttons);
    font-size: 20px;
    font-family: Lucida Sans Unicode, serif;
    text-decoration: none;
    vertical-align: middle;
}
#showSucc{
    position: absolute;
    right: 1%;
    top: 2px;
    width:fit-content;
    color:var(--text-color-outer-buttons);
    font-size: 10px;
    font-family: Lucida Sans Unicode, serif;
    text-decoration: none;
    vertical-align: middle;
}
#showPred{
     position: absolute;
     left: 1%;
     top: 0;
     width:fit-content;
     color:var(--text-color-outer-buttons);
     font-size: 10px;
     font-family: Lucida Sans Unicode, serif;
     text-decoration: none;
     vertical-align: middle;
 }



.multiselect {
    width: 180px;
}



.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
    background: var(--light-huee-color);
    opacity: 1;

}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#multiselectPays{
    position:absolute;
    z-index: 1000;
    margin-top: 2%;
}
#checkboxesPays {
    z-index: 900;
    background: var(--light-huee-color);
    display: none;
    border: 1px var(--light-huee-color) solid;
}

#checkboxesPays label {

    display: block;
}

#checkboxesPays label:hover {
    background-color: var(--menu-titles-color);
}

#multiselectTypes{
    position:absolute;
    z-index:999;
    margin-top: 5%;

}
#checkboxesTypes {
    opacity: 1;
    background: var(--light-huee-color);

    display: none;
    border: 1px var(--light-huee-color) solid;
}

#checkboxesTypes label {
    display: block;

}

#checkboxesTypes label:hover {
    background-color: var(--menu-titles-color);
}

#multiselectFonction{
    position:relative;
    z-index:996;
    margin-top: 15%;
}
#checkboxesFonction {
    opacity: 1;
    background: var(--light-huee-color);

    display: none;
    border: 1px var(--light-huee-color) solid;
}

#checkboxesFonction label {
    display: block;

}

#checkboxesFonction label:hover {
    background-color: var(--menu-titles-color);
}

#multiselectObjet_fond{
    position:absolute;
    margin-top: 8%;
    z-index:998

}
#checkboxesObjet_fond {
    opacity: 1;
    background: var(--light-huee-color);

    display: none;
    border: 1px var(--light-huee-color) solid;
}

#checkboxesObjet_fond label {
    display: block;

}

#checkboxesObjet_fond label:hover {
    background-color: var(--menu-titles-color);
}


#multiselectObjet_forme{
    position:absolute;
    z-index:997;
    margin-top: 11%;

}
#checkboxesObjet_forme {
    opacity: 1;
    background: var(--light-huee-color);

    display: none;
    border: 1px var(--light-huee-color) solid;
}

#checkboxesObjet_forme label {
    display: block;

}

#checkboxesObjet_forme label:hover {
    background-color: var(--menu-titles-color);
}


.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 3px;
    color: var(--text-color-buttons);
    border: 2px solid var(--light-huee-color);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: var(--light-huee-color);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: var(--contrast-huee-color);
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.singleRenvoi {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.paraSucc {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 25%;
    right: 15%;

    position: fixed;
    z-index: 2000;
}


 .paraPred {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    top: 25%;
    right: 15%;
    position: fixed;
    z-index: 2000 ;
}
.singleRenvoi:hover  .paraPred {
    visibility: visible;
}
.singleRenvoi:hover  .paraSucc {
    visibility: visible;
}



ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.horizontal li {
    float: left;
}

ul.horizontal li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
    background-color: #000;
}

ul.horizontal li a.active {
    background-color:#4CAF50;
}

.irs--round .irs-handle{
    border-color:var(--light-huee-color);
    background-color:var(--light-menu-color);
}
.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover{
    background-color:var(--light-huee-color);

}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    background-color:var(--light-huee-color);
    color:var(--text-color);
}
.irs--round .irs-bar {
    background-color: var(--light-huee-color);
}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    border-top-color:var(--light-huee-color);
}
.irs--round .irs-grid-text{
    color:var(--text-color)
}
.irs--round .irs-grid-pol{
    background-color: var(--text-color);
}